@font-face {
  font-family: "Antonio";
  src: url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");
}

html {
  font-family: "Antonio", sans-serif, serif;
}

.box1 {
    background-color: #610DAA;
    border-width: 2.5px;
    border-radius: 5cm;
    border-style: solid;
    border-color: black;
    height: 5vh;
    width: 15vw;
    max-width: 100em;
    max-height: 100em;
  }

h1, h2, h3, h4 {
  color: rgb(0, 0, 102);
}

#main_header{
    color: white;
}

#Todays_Entry{
    text-decoration: underline black;
    border-style: solid;
    border-width: 2.5px;
}


.date{
    color: hsl(184, 78%, 45%)
}

* {
    margin: 2mm;
}

.p1{
    font-family: 'Antonio', serif;
}

.p2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    border-color: blanchedalmond;
    border-width: 4mm;
    border-style: double;
    color: #000066;
    margin: auto;
}
#add-entry{ /*styling for heading of footer*/
    border-width: 2.5px;
    border-style: dashed;
    border-style: black;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
}
.foot{
   font-family: Georgia, 'Times New Roman', Times, serif;
   border-style: solid;
   border-width: 4px;
   border-color: black;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-right: 50px;
   margin-left: 50px;
   
}

.flex_container {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

}

.item_for_flex {
  background: rgb(15, 145, 127);
  padding: 5px;
  width: 250px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

#name_entry{
    border-width: 2.5px;
    border-style: groove;
    border-color: black;
    padding: 10px 10px 10px 10px;
}
