@font-face {
  font-family: "Antonio";
  src: url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");
}

html {
  font-family: "Antonio", sans-serif, serif;
}

@media screen and (max-width: 992px) { /*media query*/
  body {
    background-color:lavender;
  }

  .box1, .foot{
      width: 100%;
  }
}

img + p { /*adjacent child selector*/
  font-size:larger;
  color:darkorchid;
}

.box1 { /*Heading box*/
    background-color: #610DAA;
    border-width: 2.5px;
    border-radius: 5cm;
    border-style: solid;
    border-color: black;
    height: 5vh;
    width: 15vw;
    max-width: 100em;
    max-height: 100em;
}

ol.tasks > li { /*child selector*/
  color: maroon;
  font-size: medium;
  font-family: cursive;
}

h1, h2, h3, h4 { /*heading styling*/
  color: rgb(0, 0, 102);
}

p ~ span{ /*general sibling selector*/
    font-family: fantasy;
    font-size: large;
    color:orangered;
}

#main_header{
    color: white;
}

#Todays_Entry{
    text-decoration: underline black;
    border-style: solid;
    border-width: 2.5px;
}


.date{ /*date styling*/
    color: hsl(184, 78%, 45%)
}

span.songs{
    background-color: cornflowerblue;
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 5px;
    border: 2px solid blue; 
}

span.songs2{
    background-color: palevioletred;
    display: inline;
    width: 800px;
    height: 50px;
    padding: 5px;
    border: 2px solid black; 
}

* {
    margin: 2mm;
}

button:hover {
  color:black;
  background-color: aqua;
}

a:active {
  color:greenyellow;
  background-color: pink;
}

li li{
    list-style-type: circle;
    color:white;
}

a[href^="#"]{
    color: purple;
}

div.relative{
    position: relative;
    left: 50px;
    border: 3px dotted black;
}

div.sticky{
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: gray;
    border: 2px dashed black;
}

.p1{
    font-family: 'Antonio', serif;
}

.p2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    border-color: blanchedalmond;
    border-width: 4mm;
    border-style: double;
    color: #000066;
    margin: auto;
}

.item-1 {
  grid-area: header1;
}
.item-2 {
  grid-area: header2;
}
.item-3 {
  grid-area: main1;
}
.item-4 {
  grid-area: main2;
}

.grid_container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header1 . . header2"
    "main1 . . main2";

}

#add-entry{ /*styling for heading of footer*/
    border-width: 2.5px;
    border-style: dashed;
    border-style: black;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
}
.foot{ /*footer styling*/
   font-family: Georgia, 'Times New Roman', Times, serif;
   border-style: solid;
   border-width: 4px;
   border-color: black;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-right: 50px;
   margin-left: 50px;
   
}

.flex_container {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

}

.item_for_flex {
  background: rgb(15, 145, 127);
  padding: 5px;
  width: 250px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

#name_entry{
    border-width: 2.5px;
    border-style: groove;
    border-color: black;
    padding: 10px 10px 10px 10px;
}
